<ul class="collection">
  <li
    class="collection-item"
    (click)="selectVideo(video)"
    [class.active]="video.id === selectedId"
    *ngFor="let video of list"
  >
    <app-preview-card [video]="video"></app-preview-card>
  </li>
</ul>
