<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">Workshop Demo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>

<div class="router-container">
  <router-outlet></router-outlet>
</div>
