:host {
  height: 100vh;
  display: grid;
  grid-template:  " header "  auto
                  " main "    1fr
}

nav {
  grid-area: header;
}

.router-container {
  grid-area: main;
  overflow: auto;
}
