<app-preview-list
  [list]="videos | async"
  [selectedId]="selectedVideo?.id"
  (selectedVideo)="setSelectedVideo($event)"
></app-preview-list>
<div>
  <app-video-player [video]="selectedVideo"></app-video-player>
  <app-view-breakdown></app-view-breakdown>
</div>
<app-filter-views></app-filter-views>
